.my-nav {
    margin: 0;
    padding: 0;
    background-color: #E7DCD6;
}
.my-nav > .container-fluid {
    background-color: #e9dcd6;
}
.my-carrusel-main {
    width: 50vw;
    height: 50vh;
}

.my-carrusel-main > .carousel-inner {
    width: 50vw;
    height: 50vh;
}
.carousel-item > img {
    width: 50vw;
    height: 60vh;
}
.my-carrusel {
    margin-top: 4rem;
}

.cards-jabones {
    margin-top: 4rem;
}

.logo {
    width: 100px;
}

footer {
    /* border: 1px solid; */
    color: rgb(117, 113, 113);
    height: 10vh;
    margin-top: 5rem;
    background-color: #E7DCD6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer > img {
    width: 50px;
    height: 50px;
}